

name: "Builds"

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions: write-all

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

#    - name: Build with RELEASE130
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE130 -Dnext.version=RELEASE130
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE140
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE140 -Dnext.version=RELEASE140
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE150
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE150 -Dnext.version=RELEASE150
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE160
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE160 -Dnext.version=RELEASE160
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE170
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE170 -Dnext.version=RELEASE170
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE180
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE180 -Dnext.version=RELEASE180
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE190
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE190 -Dnext.version=RELEASE190
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE200
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE200 -Dnext.version=RELEASE200
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

#    - name: Build with RELEASE210
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE210 -Dnext.version=RELEASE210
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE220
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE220 -Dnext.version=RELEASE220
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

#    - name: Build with RELEASE230
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE230 -Dnext.version=RELEASE230
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

#    - name: Build with RELEASE240
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE240 -Dnext.version=RELEASE240
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

#    - name: Build with RELEASE250
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE250 -Dnext.version=RELEASE250
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

#    - name: Build with RELEASE260
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE260 -Dnext.version=RELEASE260
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
#    - name: Build with RELEASE270
#      run: |
#        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE270 -Dnext.version=RELEASE270
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
#
    - name: Build with RELEASE280
      run: |
        mvn -B clean install -P dev -Dnetbeans.release.version=RELEASE280 -Dnext.version=RELEASE280
      env:
        GITHUB_TOKEN: ${{ github.token }}